<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wooqs.cgms.mapper.CommunityMapper">

    <resultMap id="communityResultMap" type="com.wooqs.cgms.model.Community">
        <id property="communityId" column="communityId" />
        <result property="name" column="name" />
        <result property="adminId" column="adminId" />
        <result property="address" column="address" />
        <result property="createTime" column="createTime" />
        <result property="updateTime" column="updateTime" />
    </resultMap>

    <select id="getById" resultMap="communityResultMap" parameterType="java.lang.Long">
        SELECT * FROM community WHERE communityId = #{id}
    </select>

    <select id="getByAdminId" resultMap="communityResultMap" parameterType="java.lang.Long">
        SELECT * FROM community WHERE adminId = #{AdminId}
    </select>

    <select id="search" resultMap="communityResultMap" parameterType="java.lang.Long">
        SELECT * FROM community WHERE name REGEXP #{name}
    </select>

    <select id="getAll" resultMap="communityResultMap">
        SELECT * FROM community
    </select>

    <insert id="insert" parameterType="com.wooqs.cgms.model.Community" useGeneratedKeys="true" keyProperty="communityId">
        INSERT INTO community(name, adminId, address) VALUES(#{name}, #{adminId}, #{address})
    </insert>

    <update id="update" parameterType="com.wooqs.cgms.model.Community">
        UPDATE community SET name = #{name}, adminId = #{adminId}, address = #{address}, updateTime = CURRENT_TIMESTAMP(0) WHERE communityId = #{communityId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM community WHERE communityId = #{id}
    </delete>

</mapper>
