<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wooqs.cgms.mapper.PopulationMapper">

    <resultMap id="populationResultMap" type="com.wooqs.cgms.model.Population">
        <id property="populationId" column="population_id" />
        <result property="communityId" column="community_id" />
        <result property="name" column="name" />
        <result property="gender" column="gender" />
        <result property="age" column="age" />
        <result property="job" column="job" />
        <result property="idCard" column="id_card" />
        <result property="hometown" column="hometown" />
        <result property="address" column="address" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="getById" resultMap="populationResultMap" parameterType="java.lang.Long">
        SELECT * FROM population WHERE population_id = #{id}
    </select>

    <select id="getAll" resultMap="populationResultMap">
        SELECT * FROM population
    </select>

    <insert id="insert" parameterType="com.wooqs.cgms.model.Population" useGeneratedKeys="true" keyProperty="populationId">
        INSERT INTO population(community_id, name, gender, age, job, id_card, hometown, address)
        VALUES(#{communityId}, #{name}, #{gender}, #{age}, #{job}, #{idCard}, #{hometown}, #{address})
    </insert>

    <update id="update" parameterType="com.wooqs.cgms.model.Population">
        UPDATE population SET
                              community_id = #{communityId},
                              name = #{name},
                              gender = #{gender},
                              age = #{age},
                              job = #{job},
                              id_card = #{idCard},
                              hometown = #{hometown},
                              address = #{address},
                              update_time = CURRENT_TIMESTAMP(0)
        WHERE population_id = #{populationId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM population WHERE population_id = #{id}
    </delete>

</mapper>
